<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs</title>
</head>

<body>
    <% if(productos) { %>
        <% productos.forEach(function(producto) { %>
            <h2>Producto <%= producto.id %></h2>
            <ul>
                <li><%= producto.title %></li>
                <li><%= producto.price %></li>
                <li><%= producto.thumbnail %></li>
                <li><%= producto.id %></li>
            </ul>
        <% }) %>
    <% } else { %>
        <h2>No tenemos productos</h2>
    <% } %>
    <a href="/api/">Inicio</a>
</body>

</html>